@{
    ViewData["Title"] = "Delete";
}
@model JobPostViewModel
<partial name="_menu"/>
<h2>Delete The Job Post</h2>
<div class="wb-frmvld">
<form asp-action="Delete" method="post">
  
  <div class="form-group"> 

    <label asp-for="@Model.JobTitle" class="required"><span class="field-name">Job Title</span> <strong class="required">(required)</strong></label>
    @Html.TextBoxFor(m => m.JobTitle, new { disabled = "disabled", @class = "form-control", @required = "required"})
  </div>

  <div class="form-group">

    <label asp-for="@Model.CompanyName" class="required"><span class="field-name">Company Name</span> <strong class="required">(required)</strong></label>
    @Html.TextBoxFor(m => m.CompanyName, new { disabled = "disabled", @class = "form-control", @required = "required"})

  </div>

  <div  class="form-group">   
      
    <label asp-for="@Model.JobDescription" class="required"><span class="field-name">Job Description</span> <strong class="required">(required)</strong></label>
    @Html.TextAreaFor(m => m.JobDescription, 6,50,new { disabled = "disabled", @class = "form-control ", @required = "required"})

  </div>
  <div class="form-group">   
    <label asp-for="@Model.Salary" class="required"><span class="field-name">Salary</span> <strong class="required">(required)</strong></label>
    @Html.TextBoxFor(m => m.Salary, new { disabled = "disabled", @class = "form-control", @type ="number", @required = "required"})


  </div>

  <div class="form-group"> 
    <label asp-for="@Model.Education" class="required"><span class="field-name">Education</span> <strong class="required">(required)</strong></label>
    @Html.TextBoxFor(m => m.Education, new { disabled = "disabled", @class = "form-control", @required = "required"})
  </div>

  <div class="form-group">
  
    <label asp-for="@Model.StartingDate" class="required"><span class="field-name">Starting Date</span> <strong class="required">(required)</strong></label>
    @*@Html.TextBoxFor(m => m.StartingDate, new { disabled = "disabled", @class = "form-control", @type ="date", @required = "required"})*@
    <input asp-for="StartingDate" disabled class="form-control" />
  </div>

  <div class="form-group">

    <label asp-for="@Model.Location" class="required"><span class="field-name">Location</span> <strong class="required">(required)</strong></label>
    @Html.TextBoxFor(m => m.Location, new { disabled = "disabled", @class = "form-control", @required = "required"})

  </div>
  

  @*<div class="form-group">

    <label asp-for="@Model.Language" class="required"><span class="field-name">Language</span> <strong class="required">(required)</strong></label><br/>
    @Html.DropDownListFor(m => m.Language, new List<SelectListItem> 
                   {  new SelectListItem{Text="English", Value="true"},
                     new SelectListItem{Text="French", Value="false"}}, "Please select", htmlAttributes: new { disabled = "disabled", @class = "form-control full-width", @required = "required" })
                     <br/>
                     <br/>
  </div>*@

  <div class="form-group">

    <label asp-for="@Model.Contact" class="required"><span class="field-name">Contact</span> <strong class="required">(required)</strong></label>
    @Html.TextBoxFor(m => m.Contact, new { disabled = "disabled", @class = "form-control", @required = "required"})
    
  </div>

  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary">
    <a asp-controller="Job" asp-action="Index"class="btn btn-default" role="button">Back to List</a>
  </div>
  
  
  
  
 
  
  
  
  
  
  


</form>
</div>