@model IEnumerable<JobPostViewModel>
@{
    ViewData["Title"] = "Index";
}
<partial name="_menu"/>
<h2>Job List</h2>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 text-end">
            <a asp-controller="Job" asp-action="Create" class="btn btn-primary btn-lg">
                <i class="bi bi-patch-plus"></i> &nbsp; Create New Job
            </a>
            <br />
            <br />
        </div>
    </div>

</div>
<table class="wb-tables table table-striped table-hover" style="width:100%">
    <thead>
        <tr>
            <th>
                Job Title
            </th>
            <th>
                Job Description
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ob in Model)
        {if(ob.Isdeleted != 1)
            {
              <tr>
                <td width="20%">
                    @ob.JobTitle
                </td>
                <td width="50%">
                    @ob.JobDescription
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Job" asp-action="Detail" asp-route-id="@ob.Id" class="btn btn-default">Detail</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Job" asp-action="Edit" asp-route-id="@ob.Id" class="btn btn-default">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Job" asp-action="Delete" asp-route-id="@ob.Id" class="btn btn-default">Delete</a>
                    </div>
                </td>
            </tr>  
            }
            

        }
    </tbody>




</table>